<%
  require 'yaml'
  yaml = open('catalog.yml') do |io| YAML.load(io) end
  
  yaml["list"] = []
  yaml["list"].concat(yaml["PREDEF"]) if yaml.has_key? "PREDEF"
  yaml["list"].concat(yaml["POSTDEF"]) if yaml.has_key? "POSTDEF"
  yaml["list"].concat(yaml["CHAPS"])
  yaml["title_list"] = yaml["list"].clone

  if yaml.has_key? "PREDEF"
    yaml["PREDEF"].each{|re| 
      target_title = File.read(re).match(/^= (.*)$/)[1] 
      list_index = yaml["title_list"].index(re) 
      yaml["title_list"][list_index] = target_title
    }
  end

  yaml["CHAPS"].each.with_index(1){|re,i|
    target_title = File.read(re).match(/^= (.*)$/)[1]  
    list_index = yaml["title_list"].index(re) 
    yaml["title_list"][list_index] = target_title.gsub(/\"/,"&quot;")
  }

  if yaml.has_key? "POSTDEF"
    yaml["POSTDEF"].each{|re| 
      target_title = File.read(re).match(/^= (.*)$/)[1]
      list_index = yaml["title_list"].index(re) 
      yaml["title_list"][list_index] = target_title
    }
  end
%>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ops="http://www.idpf.org/2007/ops" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  
  <meta name="generator" content="Re:VIEW" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>

  <script type="text/javascript">

  $(function(){

    $(".emlist").each(function(){
      $(this).html("<code class='cs'>" + $(this).text() + "</code>")
    })

    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    })
  })

  </script>

  <style type="text/css">
  .image {
    margin: 0.5em;
  }
  </style>


  <title id="title"><%= title %></title>
  <script type="text/javascript">
    $(function(){
      $("h1 > a,h2 > a,h3 > a,h4 > a").each(function(){
        $(this).html("<a href='#" + $(this).attr("id") + "'><span class='glyphicon glyphicon-link' aria-hidden='true'></span> </a>")
      })

      $("h2").each(function(){
        $("#current_page_toc").append("<li><a href='#"+ $(this).find("a").attr("id") +"'>\t"+ $(this).text() +"</a></li>")
        $('body').scrollspy({ target: '.sidenav' })
      })
      
      $('.emlist-code pre.emlist').each(function(i, block) {
        
        $(this).html("<code class='cs'>" + $(this).html() + "</code>")
        
        hljs.highlightBlock(block);
      });
      
    })
  </script>
</head>
<body>
<nav class="navbar navbar-default" data-target="sidenav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="<%= yaml["list"][0].gsub(/\.re/,".html")%>">エディタ拡張入門</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="predef">
      <% 
          if yaml.has_key? "PREDEF"
            yaml["PREDEF"].each{|re| 
            html_path = re.gsub(/\.re/,".html") 
            target_title = File.read(re).match(/^= (.*)$/)[1] 
      %>
        <li class="<%= 'active' if title == target_title %>"><a href="<%= html_path %>"><%= target_title %></a></li>
      <% } end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% 
          if yaml.has_key? "POSTDEF"
            yaml["POSTDEF"].each{|re| 
            html_path = re.gsub(/\.re/,".html") 
            target_title = File.read(re).match(/^= (.*)$/)[1]
      %>
        <li class="<%= 'active' if title == target_title %>"><a href="<%= html_path %>"><%= target_title %></a></li>
      <% } end%>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">目次 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <% 
              yaml["CHAPS"].each.with_index(1){|re,i|
              html_path = re.gsub(/\.re/,".html")
              target_title = File.read(re).match(/^= (.*)$/)[1]  
          %>
            <li class="<%= 'active' if title == target_title %>"><a href="<%= html_path %>">第<%= i %>章 <%= target_title %></a></li>
          <% } %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="">
  <div class="">
    <div class="col-md-3 hidden-xs hidden-sm sidenav affix-top pre-scrollable" style="max-height: 100%" role="complementary" data-spy="affix" data-offset-top="80">
        <ul class="nav">
            <li>
                <ul class="nav">
                <%
                    yaml["CHAPS"].each.with_index(1){|re,i|
                    html_path = re.gsub(/\.re/,".html")
                    target_title = File.read(re).match(/^= (.*)$/)[1]  
                %>
                  <li class=""><a href="<%= html_path %>" id="<%= 'current_page' if title == target_title %>">第<%= i %>章<br/><div><%= target_title %></div></a><ul class="nav" id="<%= 'current_page_toc' if title == target_title %>"></ul></li>
                <% }%>
                </ul>
            </li>
            </li>
        </ul>
        <a class="back-to-top" href="#">
            Back to top
        </a>
    </div>
</div>
 <div>
   <div class="col-md-7 col-md-offset-4" id="context">
      <nav>
    <ul class="page">
    　<% index = yaml["title_list"].index(title) || 0 %>
      <% if 0 <= (index - 1) %>
      <a class="previous" href="<%= yaml["list"][index - 1].gsub(/\.re/,".html") %>" title="<%= yaml["title_list"][index - 1] %>"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <% end %>
      <% if index + 1 < yaml["title_list"].length %>
      <a class="next" href="<%= yaml["list"][index + 1].gsub(/\.re/,".html") %>" title="<%= yaml["title_list"][index + 1] %>"><i class="glyphicon glyphicon-chevron-right"></i></a>
      <% end %>
    </ul>
  </nav>
    <%= body %>
   <nav>
    </div>
 </div>
</div>
</nav>
</body>
</html>
